<a href="https://colab.research.google.com/github/TeeshynaJ/Euromillions/blob/main/EuroMillions_Draw_Analysis_%26_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("EuroMillions Draw Analysis & Prediction")
print("A project to explore draw patterns, most/least frequent numbers, overdue numbers, and recent trends using historical data")

EuroMillions Draw Analysis & Prediction
A project to explore draw patterns, most/least frequent numbers, overdue numbers, and recent trends using historical data

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
df=pd.read_csv("eum_df.csv")
print(df.head())

   DrawNumber    DrawDate  Ball1  Ball2  Ball3  Ball4  Ball5  LuckyStar1  \
0        1758  26-07-2024     35     37     23     19      4           8
1        1757  23-07-2024      8     10     16     34      4           8
2        1756  19-07-2024     44     22     35     48     15           6
3        1755  16-07-2024     39     35      2     36     32           7
4        1754  12-07-2024     12     39     24     25     18          10

   LuckyStar2                                 UKMillionaireMaker  ...  \
0           4                                                 []  ...
1           4                                      ['TWPB44366']  ...
2           7  ['JTNH57406', 'JVNV63400', 'TTNK08001', 'TVNS7...  ...
3           8                                      ['JSMX15976']  ...
4           8                                      ['MSMX51719']  ...

  Match_2_and_1_Star_TotalWinners Match_2_UKWinners  Match_2_PrizePerWinner  \
0                          459322               NaN                     NaN
1                          359529          195240.0                     2.7
2                          513956          377379.0                     3.1
3                          309957          179219.0                     3.5
4                          455333          307753.0                     2.5

   Match_2_UKPrizeFund  Match_2_TotalWinners  Totals_UKWinners  \
0                  NaN              975900.0               NaN
1             527148.0              731173.0          347657.0
2            1169874.9             1033719.0          644426.0
3             627266.5              619066.0          308348.0
4             769382.5             1112596.0          504606.0

   Totals_UKPrizeFund  Totals_TotalWinners   JackpotWinner_country  \
0                 NaN              1713072                  ['UK']
1           1274942.5              1301923                     NaN
2           2594454.3              1812344  ['France', 'Portugal']
3           1379217.4              1083409                     NaN
4           1936370.9              1807438                     NaN

   TicketPrice
0          2.5
1          2.5
2          2.5
3          2.5
4          2.5

[5 rows x 70 columns]

In [45]:
#counting columns
df.count()

DrawNumber               1758
DrawDate                 1758
Ball1                    1758
Ball2                    1758
Ball3                    1758
                         ...
Totals_UKWinners         1757
Totals_UKPrizeFund       1757
Totals_TotalWinners      1758
JackpotWinner_country     421
TicketPrice              1758
Length: 70, dtype: int64

In [46]:
#list all columns
print(df.columns.tolist())

['DrawNumber', 'DrawDate', 'Ball1', 'Ball2', 'Ball3', 'Ball4', 'Ball5', 'LuckyStar1', 'LuckyStar2', 'UKMillionaireMaker', 'BallSet', 'DrawMachine', 'Match_5_and_2_Stars_roll', 'Match_5_and_2_Stars_UKWinners', 'Match_5_and_2_Stars_PrizePerWinner', 'Match_5_and_2_Stars_UKPrizeFund', 'Match_5_and_2_Stars_TotalWinners', 'Match_5_and_1_Star_UKWinners', 'Match_5_and_1_Star_PrizePerWinner', 'Match_5_and_1_Star_UKPrizeFund', 'Match_5_and_1_Star_TotalWinners', 'Match_5_UKWinners', 'Match_5_PrizePerWinner', 'Match_5_UKPrizeFund', 'Match_5_TotalWinners', 'Match_4_and_2_Stars_UKWinners', 'Match_4_and_2_Stars_PrizePerWinner', 'Match_4_and_2_Stars_UKPrizeFund', 'Match_4_and_2_Stars_TotalWinners', 'Match_4_and_1_Star_UKWinners', 'Match_4_and_1_Star_PrizePerWinner', 'Match_4_and_1_Star_UKPrizeFund', 'Match_4_and_1_Star_TotalWinners', 'Match_3_and_2_Stars_UKWinners', 'Match_3_and_2_Stars_PrizePerWinner', 'Match_3_and_2_Stars_UKPrizeFund', 'Match_3_and_2_Stars_TotalWinners', 'Match_4_UKWinners', 'Match_4_PrizePerWinner', 'Match_4_UKPrizeFund', 'Match_4_TotalWinners', 'Match_2_and_2_Stars_UKWinners', 'Match_2_and_2_Stars_PrizePerWinner', 'Match_2_and_2_Stars_UKPrizeFund', 'Match_2_and_2_Stars_TotalWinners', 'Match_3_and_1_Star_UKWinners', 'Match_3_and_1_Star_PrizePerWinner', 'Match_3_and_1_Star_UKPrizeFund', 'Match_3_and_1_Star_TotalWinners', 'Match_3_UKWinners', 'Match_3_PrizePerWinner', 'Match_3_UKPrizeFund', 'Match_3_TotalWinners', 'Match_1_and_2_Stars_UKWinners', 'Match_1_and_2_Stars_PrizePerWinner', 'Match_1_and_2_Stars_UKPrizeFund', 'Match_1_and_2_Stars_TotalWinners', 'Match_2_and_1_Star_UKWinners', 'Match_2_and_1_Star_PrizePerWinner', 'Match_2_and_1_Star_UKPrizeFund', 'Match_2_and_1_Star_TotalWinners', 'Match_2_UKWinners', 'Match_2_PrizePerWinner', 'Match_2_UKPrizeFund', 'Match_2_TotalWinners', 'Totals_UKWinners', 'Totals_UKPrizeFund', 'Totals_TotalWinners', 'JackpotWinner_country', 'TicketPrice']

In [47]:
#remove unwanted columns
#new_df=df.drop(['UKMillionaireMaker''TicketPrice'],axis=1) - too many columns in dataset.
#Alternative way is using loc.

start = df.columns.get_loc('UKMillionaireMaker')
end=df.columns.get_loc('TicketPrice')+1
new_df = df.drop(df.columns[start:end], axis=1)
print(new_df.head())

   DrawNumber    DrawDate  Ball1  Ball2  Ball3  Ball4  Ball5  LuckyStar1  \
0        1758  26-07-2024     35     37     23     19      4           8
1        1757  23-07-2024      8     10     16     34      4           8
2        1756  19-07-2024     44     22     35     48     15           6
3        1755  16-07-2024     39     35      2     36     32           7
4        1754  12-07-2024     12     39     24     25     18          10

   LuckyStar2
0           4
1           4
2           7
3           8
4           8

In [48]:
#Check for null
print(new_df.isnull().sum())

DrawNumber    0
DrawDate      0
Ball1         0
Ball2         0
Ball3         0
Ball4         0
Ball5         0
LuckyStar1    0
LuckyStar2    0
dtype: int64

In [49]:
new_df.drop("DrawNumber",axis=1,inplace=True) #modifies original dataframe

In [50]:
new_df.head()

     DrawDate  Ball1  Ball2  Ball3  Ball4  Ball5  LuckyStar1  LuckyStar2
0  26-07-2024     35     37     23     19      4           8           4
1  23-07-2024      8     10     16     34      4           8           4
2  19-07-2024     44     22     35     48     15           6           7
3  16-07-2024     39     35      2     36     32           7           8
4  12-07-2024     12     39     24     25     18          10           8

In [51]:
new_df.count()

DrawDate      1758
Ball1         1758
Ball2         1758
Ball3         1758
Ball4         1758
Ball5         1758
LuckyStar1    1758
LuckyStar2    1758
dtype: int64

In [53]:
print(new_df['DrawDate'].dtype)

object

In [55]:
new_df['DrawDate'] = pd.to_datetime(new_df['DrawDate'], errors='coerce')

/tmp/ipython-input-55-1507294883.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  new_df['DrawDate'] = pd.to_datetime(new_df['DrawDate'], errors='coerce')

In [56]:
print(new_df['DrawDate'].dtype)

datetime64[ns]

In [57]:
print(new_df.dtypes)

DrawDate      datetime64[ns]
Ball1                  int64
Ball2                  int64
Ball3                  int64
Ball4                  int64
Ball5                  int64
LuckyStar1             int64
LuckyStar2             int64
dtype: object

In [59]:
#Data showing 10 years of records
start_date = df['DrawDate'].min()
end_date = df['DrawDate'].max()

print("Start date:", start_date)
print("End date:", end_date)

Start date: 2004-02-13 00:00:00
End date: 2024-07-26 00:00:00

**Second Dataset 2025**

In [25]:
df2=pd.read_csv('/content/euromillions-draw-history.csv')
print(df2)

       DrawDate  Ball 1  Ball 2  Ball 3  Ball 4  Ball 5  Lucky Star 1  \
0   15-Jul-2025      24      38      41      45      49             1
1   11-Jul-2025       8      23      24      45      49             2
2   08-Jul-2025       1       8       9      18      50             1
3   04-Jul-2025      19      29      42      45      48             5
4   01-Jul-2025       1      17      28      32      34             7
5   27-Jun-2025      19      27      36      45      49             7
6   24-Jun-2025       7      16      21      23      39             7
7   20-Jun-2025       5       8      24      37      47             3
8   17-Jun-2025      13      22      23      44      49             3
9   13-Jun-2025       2      28      40      43      45             3
10  10-Jun-2025      19      36      39      40      45             5
11  06-Jun-2025      20      21      29      30      35             2
12  03-Jun-2025      12      15      38      47      48             5
13  30-May-2025       4       7      14      33      36             1
14  27-May-2025      12      30      38      40      41             4
15  23-May-2025      10      29      43      46      49             7
16  20-May-2025       1       8      13      29      47             5
17  16-May-2025       6       9      25      37      46             6
18  13-May-2025       9      19      44      47      50             2
19  09-May-2025      15      18      25      29      47             5
20  06-May-2025       8      23      24      47      48             4
21  02-May-2025       3       5      19      21      49             1
22  29-Apr-2025       2       9      24      30      41             1
23  25-Apr-2025      13      22      32      39      41             1
24  22-Apr-2025       7      28      33      37      47             9
25  18-Apr-2025      20      27      35      39      48             3
26  15-Apr-2025       3      31      33      38      44             6
27  11-Apr-2025      14      28      34      46      49             3
28  08-Apr-2025       3      14      15      48      49             1
29  04-Apr-2025      27      39      41      45      50             5
30  01-Apr-2025       9      24      30      46      49             4
31  28-Mar-2025      10      21      30      42      45             1
32  25-Mar-2025       1       3      18      33      36             2
33  21-Mar-2025       9      17      18      21      50             5
34  18-Mar-2025       4       9      35      46      50             8
35  14-Mar-2025       8      10      33      35      49             2
36  11-Mar-2025      13      36      37      42      47             7
37  07-Mar-2025       6      10      27      32      48             3
38  04-Mar-2025      15      20      29      35      42             2
39  28-Feb-2025       7      16      31      43      46             5
40  25-Feb-2025      17      22      23      24      44             6
41  21-Feb-2025       1       3      11      20      43             2
42  18-Feb-2025       5      14      25      26      40             5
43  14-Feb-2025       4      14      31      36      38             3
44  11-Feb-2025       3      21      36      41      46             1
45  07-Feb-2025      10      23      24      29      45             8
46  04-Feb-2025       3       4      29      39      43             5
47  31-Jan-2025      22      30      41      44      49             2
48  28-Jan-2025       9      37      41      42      49             1
49  24-Jan-2025       2      11      19      30      49             3
50  21-Jan-2025       6       8      14      27      41             4

    Lucky Star 2                               UK Millionaire Maker  \
0              6                                          XZHL02876
1             10                                          TXGS29255
2              5                                          MSDV09512
3              7                                          XTFM90593
4              8                                          ZTFH41326
5             10                                          XSFF39672
6             11                                          MQDD67764
7              9                                          JQDG19394
8              5                                          XPCD66044
9              7  HMZR34844,HNBG00357,HNBR22291,HNBZ00729,HNZR99...
10             6                                          HMXQ77424
11            12                                          VLWS75031
12             7                                          HKVV08213
13             5                                          MJTF42151
14            12                                          XHSR16699
15            12                                          MDQK77569
16             6                                          TXNL48795
17            12                                          ZDQK29611
18             9                                          MCPZ71386
19             9                                          ZBPQ30068
20             9                                          MZNV58220
21            10  HXNR64959,MWMQ34132,MXND70116,MXNN83635,TXNF71...
22            11                                          ZWMS62356
23            12                                          VVMJ17683
24            12                                          MTMD30090
25             8                                          ZRKZ79394
26            12                                          MRLH58692
27             8                                          XQKQ97029
28             7                                          HPKS89737
29             7                                          TNKB70417
30            12                                          ZMJR93122
31             9                                          HLHV99083
32             6                                          MKHJ22564
33            12                                          MJFW44014
34            11                                          HHFG17793
35             9                                          JGDK20551
36            11                                          HFDH83622
37             8                                          JCBN45959
38             9                                          MCBT27736
39             9                                          ZWZD80407
40            11                                          HZBB98633
41            11                                          XXZQ38966
42             7                                          ZWZH28008
43            10  HVXX35391,HVXZ64951,JTXJ35656,MTXD66106,MVXX07...
44             6                                          HTXG00209
45            10                                          ZSWQ19699
46            10                                          XRWK86561
47             7                                          MQVW10303
48             9                                          TMTL79764
49             8                                          JNTX26814
50             5                                          TMTL77973

    DrawNumber
0         1859
1         1858
2         1857
3         1856
4         1855
5         1854
6         1853
7         1852
8         1851
9         1850
10        1849
11        1848
12        1847
13        1846
14        1845
15        1844
16        1843
17        1842
18        1841
19        1840
20        1839
21        1838
22        1837
23        1836
24        1835
25        1834
26        1833
27        1832
28        1831
29        1830
30        1829
31        1828
32        1827
33        1826
34        1825
35        1824
36        1823
37        1822
38        1821
39        1820
40        1819
41        1818
42        1817
43        1816
44        1815
45        1814
46        1813
47        1812
48        1811
49        1810
50        1809

In [60]:
#List the columns
print(df2.columns.tolist())

['DrawDate', 'Ball 1', 'Ball 2', 'Ball 3', 'Ball 4', 'Ball 5', 'Lucky Star 1', 'Lucky Star 2', 'UK Millionaire Maker', 'DrawNumber']

In [62]:
print(df2.dtypes)

DrawDate                object
Ball 1                   int64
Ball 2                   int64
Ball 3                   int64
Ball 4                   int64
Ball 5                   int64
Lucky Star 1             int64
Lucky Star 2             int64
UK Millionaire Maker    object
DrawNumber               int64
dtype: object

In [63]:
df2['DrawDate'] = pd.to_datetime(df2['DrawDate'])

In [64]:
print(df2.dtypes)

DrawDate                datetime64[ns]
Ball 1                           int64
Ball 2                           int64
Ball 3                           int64
Ball 4                           int64
Ball 5                           int64
Lucky Star 1                     int64
Lucky Star 2                     int64
UK Millionaire Maker            object
DrawNumber                       int64
dtype: object

In [67]:
df2 = df2.drop(['UK Millionaire Maker', 'DrawNumber'], axis=1)

In [68]:
df2.head()

,DrawDate,Ball 1,Ball 2,Ball 3,Ball 4,Ball 5,Lucky Star 1,Lucky Star 2
0,2025-07-15,24,38,41,45,49,1,6
1,2025-07-11,8,23,24,45,49,2,10
2,2025-07-08,1,8,9,18,50,1,5
3,2025-07-04,19,29,42,45,48,5,7
4,2025-07-01,1,17,28,32,34,7,8

In [69]:
start_date = df2['DrawDate'].min()
end_date = df2['DrawDate'].max()

print("Start date:", start_date)
print("End date:", end_date)

Start date: 2025-01-21 00:00:00
End date: 2025-07-15 00:00:00

In [71]:
df2.isnull().sum()

DrawDate        0
Ball 1          0
Ball 2          0
Ball 3          0
Ball 4          0
Ball 5          0
Lucky Star 1    0
Lucky Star 2    0
dtype: int64

Unable to concat two dataframes due to spaces in df2.

In [73]:
new_df.count()

DrawDate      1758
Ball1         1758
Ball2         1758
Ball3         1758
Ball4         1758
Ball5         1758
LuckyStar1    1758
LuckyStar2    1758
dtype: int64

In [72]:
df2.count()

DrawDate        51
Ball 1          51
Ball 2          51
Ball 3          51
Ball 4          51
Ball 5          51
Lucky Star 1    51
Lucky Star 2    51
dtype: int64

In [74]:
#renaming the columns to remove spaces in df2.
df2=df2.rename(columns={'Ball 1': 'Ball1', 'Ball 2': 'Ball2', 'Ball 3': 'Ball3', 'Ball 4': 'Ball4', 'Ball 5': 'Ball5', 'Lucky Star 1': 'LuckyStar1', 'Lucky Star 2': 'LuckyStar2'})

In [75]:
df2.head()

    DrawDate  Ball1  Ball2  Ball3  Ball4  Ball5  LuckyStar1  LuckyStar2
0 2025-07-15     24     38     41     45     49           1           6
1 2025-07-11      8     23     24     45     49           2          10
2 2025-07-08      1      8      9     18     50           1           5
3 2025-07-04     19     29     42     45     48           5           7
4 2025-07-01      1     17     28     32     34           7           8

**CONCAT THE TWO DATAFRAMES**

In [76]:
eurodf=pd.concat([new_df,df2],ignore_index=True)

In [81]:
eurodf.isnull().sum()

DrawDate      0
Ball1         0
Ball2         0
Ball3         0
Ball4         0
Ball5         0
LuckyStar1    0
LuckyStar2    0
dtype: int64

In [82]:
start_date = eurodf['DrawDate'].min()
end_date = eurodf['DrawDate'].max()

print("Start date:", start_date)
print("End date:", end_date)

Start date: 2004-02-13 00:00:00
End date: 2025-07-15 00:00:00

In [84]:
eurodf.isnull().sum()

DrawDate      0
Ball1         0
Ball2         0
Ball3         0
Ball4         0
Ball5         0
LuckyStar1    0
LuckyStar2    0
dtype: int64

In [83]:
print(eurodf)

       DrawDate  Ball1  Ball2  Ball3  Ball4  Ball5  LuckyStar1  LuckyStar2
0    2024-07-26     35     37     23     19      4           8           4
1    2024-07-23      8     10     16     34      4           8           4
2    2024-07-19     44     22     35     48     15           6           7
3    2024-07-16     39     35      2     36     32           7           8
4    2024-07-12     12     39     24     25     18          10           8
...         ...    ...    ...    ...    ...    ...         ...         ...
1804 2025-02-04      3      4     29     39     43           5          10
1805 2025-01-31     22     30     41     44     49           2           7
1806 2025-01-28      9     37     41     42     49           1           9
1807 2025-01-24      2     11     19     30     49           3           8
1808 2025-01-21      6      8     14     27     41           4           5

[1809 rows x 8 columns]

#save dataframe as csv file

In [85]:
eurodf.to_csv('eurodf.csv', index=False)